Import Dependencies

In [32]:
import pandas as pd
from sqlalchemy import create_engine
from config import db_password

read in datasets

In [33]:
table01 = pd.read_csv("resources/AcuteLowerRespiratoryInfections.csv")
table02 = pd.read_csv("resources/BirthAphyxiaAndBirthTrauma.csv")
table03 = pd.read_csv("resources/CongenitalAnomalies.csv")
table04 = pd.read_csv("resources/DiarrhoealDiseases.csv")
table05 = pd.read_csv("resources/HIV-AIDS.csv")
table06 = pd.read_csv("resources/Injuries.csv")
table07 = pd.read_csv("resources/Malaria.csv")
table08 = pd.read_csv("resources/Measles.csv")
table09 = pd.read_csv("resources/MeningitisAndEncephalitis.csv")
table10 = pd.read_csv("resources/OtherCommunicablePerinatalandNutritionalConditions.csv")
table11 = pd.read_csv("resources/OtherNoncommunicableDiseases.csv")
table12 = pd.read_csv("resources/Prematurity.csv")
table13 = pd.read_csv("resources/SepsisAndOtherInfections.csv")

In [34]:
table01.head(5)

   Year         Age      Country  AcuteLowerRespiratoryInfections
0  2017   0-27 days  Afghanistan                             3026
1  2017   0-27 days      Albania                               14
2  2017   0-27 days      Algeria                              721
3  2017   0-27 days      Andorra                                0
4  2017   0-27 days       Angola                             2702

In [37]:
merged01 = pd.merge(table01, table02, how="left", on=["Year", "Age", "Country"])
merged02 = pd.merge(table03, table04, how="left", on=["Year", "Age", "Country"])
merged03 = pd.merge(table05, table06, how="left", on=["Year", "Age", "Country"])
merged04 = pd.merge(table07, table08, how="left", on=["Year", "Age", "Country"])
merged05 = pd.merge(table09, table10, how="left", on=["Year", "Age", "Country"])
merged06 = pd.merge(table11, table12, how="left", on=["Year", "Age", "Country"])

In [40]:
merged07 = pd.merge(merged01, merged02, how="left", on=["Year", "Age", "Country"])
merged08 = pd.merge(merged03, merged04, how="left", on=["Year", "Age", "Country"])
merged09 = pd.merge(merged05, merged06, how="left", on=["Year", "Age", "Country"])

In [43]:
merged10 = pd.merge(merged07, merged08, how="left", on=["Year", "Age", "Country"])
merged11 = pd.merge(merged09, table13, how="left", on=["Year", "Age", "Country"])

In [49]:
child_mortality_df = pd.merge(merged10, merged11, how="left", on=["Year", "Age", "Country"])

In [50]:
child_mortality_df.head(10)

,Year,Age,Country,AcuteLowerRespiratoryInfections,BirthAsphyxiaAndBirthTauma,CongenitalAnomalies,DiarrhoealDiseases,HIV-AIDS,Injuries,Malaria,Measles,MeningitisAndEncephalitis,OtherCommunicablePerinatalandNutritionalConditions,OtherNoncommunicableDiseases,Prematurity,SepsisAndOtherInfections
0,2017,0-27 days,Afghanistan,3026,11876,3667,495,0,500,0,0,1468,2611,26,13753,6573
1,2017,0-27 days,Albania,14,25,55,0,0,3,0,0,4,12,0,85,8
2,2017,0-27 days,Algeria,721,3075,2557,28,0,206,0,0,44,686,38,4240,2046
3,2017,0-27 days,Andorra,0,0,0,0,0,0,0,0,0,0,0,1,0
4,2017,0-27 days,Angola,2702,11557,2981,177,27,399,0,0,416,1923,25,9809,5468
5,2017,0-27 days,Antigua and Barbuda,0,1,2,0,0,0,0,0,0,1,0,2,0
6,2017,0-27 days,Argentina,60,322,1249,0,1,31,0,0,1,351,11,1992,422
7,2017,0-27 days,Armenia,15,29,67,0,0,3,0,0,0,18,1,104,18
8,2017,0-27 days,Australia,1,116,200,0,0,3,0,0,0,122,5,211,15
9,2017,0-27 days,Austria,0,29,71,0,0,0,0,0,0,30,1,41,10

In [51]:
child_mortality_df.shape

(10476, 16)

In [54]:
child_mortality_df.columns

Index(['Year', 'Age', 'Country', 'AcuteLowerRespiratoryInfections',
       ' BirthAsphyxiaAndBirthTauma', 'CongenitalAnomalies',
       'DiarrhoealDiseases', ' HIV-AIDS', 'Injuries', 'Malaria', 'Measles',
       'MeningitisAndEncephalitis',
       'OtherCommunicablePerinatalandNutritionalConditions',
       'OtherNoncommunicableDiseases', 'Prematurity',
       'SepsisAndOtherInfections'],
      dtype='object')

In [53]:
#Export to csv
child_mortality_df.to_csv('data\child_mortality.csv', index=False)

In [15]:
# local server connection string
#db_string = f"postgres://postgres:{db_password}@127.0.0.1:5432/child_mortality1"

In [16]:
# create db engine
# engine = create_engine(db_string)

In [17]:
# # save dfs to sql table
# table01.to_sql(name='respiratory', con=engine, index=False)
# table02.to_sql(name='birthtrauma', con=engine, index=False)
# table03.to_sql(name='congenitalanomalies', con=engine, index=False)
# table04.to_sql(name='diarrhoeal', con=engine, index=False)
# table05.to_sql(name='hiv', con=engine, index=False)
# table06.to_sql(name='injuries', con=engine, index=False)
# table07.to_sql(name='malaria', con=engine, index=False)
# table08.to_sql(name='measles', con=engine, index=False)
# table09.to_sql(name='meningitis', con=engine, index=False)
# table10.to_sql(name='nutritional', con=engine, index=False)
# table11.to_sql(name='other', con=engine, index=False)
# table12.to_sql(name='prematurity', con=engine, index=False)
# table13.to_sql(name='sepsis', con=engine, index=False)