In [5]:
#Import dependencies
import csv
with open('resources/Injuries.csv') as csvfile:

  # Must use csv.reader to get each row as a list.
  myCSVReader = csv.reader(csvfile, delimiter=",", quotechar='"')

In [6]:
import pandas as pd
csvfile.head()

AttributeError: '_io.TextIOWrapper' object has no attribute 'head'

In [7]:
from pathlib import Path
file_path = Path('resources/Injuries.csv')

In [8]:
df = pd.read_csv(file_path)

In [9]:
df.head()

,Unnamed: 0,2017,2017.1,2017.2,2016,2016.1,2016.2,2015,2015.1,2015.2,...,2003.2,2002,2002.1,2002.2,2001,2001.1,2001.2,2000,2000.1,2000.2
0,NaN,Number of deaths,Number of deaths,Number of deaths,Number of deaths,Number of deaths,Number of deaths,Number of deaths,Number of deaths,Number of deaths,...,Number of deaths,Number of deaths,Number of deaths,Number of deaths,Number of deaths,Number of deaths,Number of deaths,Number of deaths,Number of deaths,Number of deaths
1,NaN,Injuries,Injuries,Injuries,Injuries,Injuries,Injuries,Injuries,Injuries,Injuries,...,Injuries,Injuries,Injuries,Injuries,Injuries,Injuries,Injuries,Injuries,Injuries,Injuries
2,Country,0-27 days,1-59 months,0-4 years,0-27 days,1-59 months,0-4 years,0-27 days,1-59 months,0-4 years,...,0-4 years,0-27 days,1-59 months,0-4 years,0-27 days,1-59 months,0-4 years,0-27 days,1-59 months,0-4 years
3,Afghanistan,500,4024,4524,512,4150,4661,526,4286,4811,...,5423,750,4526,5276,710,4432,5142,684,4292,4975
4,Albania,3,19,21,3,21,23,3,24,26,...,94,6,100,106,6,113,120,7,127,134